Pickled/
TGB/
pytorch_geometric_temporal/
brokentraj.csv
dataset.pt
minGPT/
encdec/
Processed/
sinD/
Other/
# Add new files to the .gitignore file on main
*.pt
*.pth
*.pkl
*.log
*.txt
*.json
ModifiedData.csv